In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import os 
from bs4 import BeautifulSoup
from re import search

In [ ]:
df = pd.read_csv('apartment.csv')

In [ ]:
df.tail()

In [ ]:
#https://stackabuse.com/python-check-if-string-contains-substring/

In [6]:
# clean money parts - I need to just put it as whole yen value 
# if there is a . with a number after it in the string then only add 000, otherwise add 0000
if ".#" in df.rent_price[1]:
    df.rent_price.str.replace('万円', '0000')
else:
    df.rent_price.str.replace('万円', '000')

TypeError: wrapper2() missing 1 required positional argument: 'pat'

In [ ]:
# need to clean first row, nearest_eki, year_built, and ku-name.

In [13]:
len(df.ku_name)

50

In [52]:
# fix year_built 
df.year_built.str.replace('\n', '')

0           10階建
1            2階建
2            8階建
3            9階建
4            3階建
         ...
445         15階建
446    地下4地上35階建
447          4階建
448          6階建
449         14階建
Name: year_built, Length: 450, dtype: object

In [61]:
df.year_built.unique()

array(['\n10階建\n', '\n2階建\n', '8階建\n', '9階建\n', '\n3階建\n', '\n9階建\n',
       '\n5階建\n', '\n6階建\n', '階建\n', '14階建\n', '3階建\n', '17階建\n', '4階建\n',
       '\n4階建\n', '下1地上3階建\n', '\n地下1地上12階建\n', '\n14階建\n', '\n7階建\n',
       '\n地下1地上17階建\n', '0階建\n', '11階建\n', '13階建\n', '\n8階建\n',
       '\n11階建\n', '2階建\n', '地下1地上14階建\n', '15階建\n', '\n地下4地上35階建\n',
       '\n地下1地上7階建\n', '下1地上14階建\n'], dtype=object)

In [35]:
df.ku_name = df.ku_name.str.split('(').str[0]
df.ku_name = df.ku_name.str[1:]

In [36]:
df.ku_name.head()

0     千代田区
1     千代田区
2     千代田区
3     千代田区
4     千代田区
Name: ku_name, dtype: object

In [26]:
df.ku_name.unique()

array(['\xa0千代田区'], dtype=object)

In [37]:
df.nearest_eki = df.nearest_eki.str.split('">').str[1]
df.nearest_eki = df.nearest_eki.str.split('</').str[0]

In [56]:
# drop m2
#df.sqr_m = df.sqr_m.str.split('m2').str[0]
df.sqr_m = df.sqr_m.astype(float)

In [50]:
# drop yen symbol and add proper digits to rent price etc. 
#get rid of decimal 
#df.rent_price.str.
df.rent_price.str.replace('万円', '')

0        9.3
1         17
2        8.6
3        8.5
4        7.8
       ...
445      8.9
446     14.7
447     13.3
448       13
449    10.79
Name: rent_price, Length: 450, dtype: object

In [ ]:
# convert rent_price to proper decimal sign 
# man = 10,000. 9.3== 93,000.

In [27]:
df.head()

,rent_price,address,sqr_m,name_place,rei_price,maintenence_price,nearest_eki,apartment_type,year_built,ku_name,floor,house_type
0,9.3万円,東京都荒川区町屋３,30.89m2,東京都荒川区町屋３,4.65万円,6000円,東京メトロ千代田線/町屋駅 歩6分,2K,\n10階建\n,千代田区,築20年,賃貸マンション
1,17万円,東京都中野区新井１,46.7m2,東京都中野区新井１,17万円,3000円,ＪＲ中央線/中野駅 歩7分,2K,\n2階建\n,千代田区,築13年,賃貸アパート
2,8.6万円,東京都江東区大島８,25.51m2,東京都江東区大島８,12.9万円,9000円,都営新宿線/大島駅 歩5分,2K,8階建\n,千代田区,築3年,賃貸マンション
3,8.5万円,東京都荒川区東日暮里６,25.46m2,東京都荒川区東日暮里６,8.5万円,7000円,ＪＲ山手線/日暮里駅 歩5分,1DK,9階建\n,千代田区,築7年,賃貸マンション
4,7.8万円,東京都荒川区東尾久５,26.73m2,東京都荒川区東尾久５,-,-,ＪＲ山手線/田端駅 歩14分,2K,\n3階建\n,千代田区,築43年,賃貸マンション

array(['2K', '1DK', '1K', '1LDK', '2DK'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent_price         50 non-null     object
 1   address            50 non-null     object
 2   sqr_m              50 non-null     object
 3   name_place         50 non-null     object
 4   rei_price          50 non-null     object
 5   shikikin           0 non-null      float64
 6   maintenence_price  50 non-null     object
 7   nearest_eki        50 non-null     object
 8   apartment_type     50 non-null     object
 9   year_built         50 non-null     object
 10  ku_name            50 non-null     object
 11  floor              50 non-null     object
 12  house_type         50 non-null     object
dtypes: float64(1), object(12)
memory usage: 5.2+ KB

In [58]:
# convert different values into their respective types 
df.apartment_type = df.apartment_type.astype(str)

In [60]:
df.apartment_type.unique()

array(['2K', '1DK', '1K', '1LDK', '2DK'], dtype=object)