In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import os 
from bs4 import BeautifulSoup
from re import search
import glob

# test our mechanize library

In [2]:
import sys 
import os 
import re
import mechanize 
from mechanize.polyglot import HTTPError

In [3]:
mech = mechanize.Browser()
try:
    mech.open("https://www.navitime.co.jp/maps/routeSearch")
except HTTPError as e:
    sys.exit("%d: %s" % (e.code, e.msg))

In [ ]:
mech.select_form()

In [2]:
os.chdir("/Users/jabras/rent_scrape/data/")

In [3]:
df = pd.read_csv('tokyo.csv')   # don't hard code this - make function to read in all csv files in directory

def clean_data(folder=".", dataname="tokyo_main.csv"):
    files = [f for f in os.listdir(folder) if os.path.isfile(f)]
    merged = []
    
    for f in files:
        filename, ext = os.path.splitext(f)
        if ext == '.csv':
            read = pd.read_csv(f)
            merged.appen(read)
    result = pd.concat(merged, axis = 0)

In [7]:
path = os.getcwd()
all_files = os.listdir(path)
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)

In [8]:
all_files

['store_push.sh',
 'tokyo.csv',
 'osaka_2.csv',
 'osaka_3.csv',
 'tokyo_3.csv',
 'tokyo_2.csv',
 'apartment.csv',
 'osaka.csv',
 'tokyo_4.csv']

In [ ]:
clean_data()

In [5]:
os.listdir()

['store_push.sh',
 'tokyo.csv',
 'osaka_4.csv',
 'osaka_2.csv',
 'osaka_3.csv',
 'tokyo_3.csv',
 'tokyo_2.csv',
 'apartment.csv',
 'osaka.csv',
 'tokyo_4.csv']

In [38]:
df = pd.read_csv('tokyo.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent_price         450 non-null    object
 1   address            450 non-null    object
 2   sqr_m              450 non-null    object
 3   name_place         450 non-null    object
 4   rei_price          450 non-null    object
 5   shikikin           450 non-null    object
 6   maintenence_price  450 non-null    object
 7   nearest_eki        450 non-null    object
 8   apartment_type     450 non-null    object
 9   year_built         450 non-null    object
 10  ku_name            450 non-null    object
 11  floor              450 non-null    object
 12  house_type         450 non-null    object
 13  Lat                0 non-null      float64
 14  Lon                0 non-null      float64
dtypes: float64(2), object(13)
memory usage: 52.9+ KB

In [14]:
df_2 = pd.read_csv('tokyo_2.csv')

In [15]:
df_2.head()

,rent_price,address,sqr_m,name_place,rei_price,shikikin,maintenence_price,nearest_eki,apartment_type,year_built,ku_name,floor,house_type,Lat,Lon
0,13.05万円,東京都新宿区山吹町,25.65m2,ハーモニーレジデンス神楽坂ヒルズファースト,-,-,12000円,東京メトロ東西線/神楽坂駅 歩8分,1DK,築2年,東京都新宿区山吹町,5階建\n,賃貸マンション,NaN,NaN
1,8.2万円,東京都荒川区荒川３,30.71m2,ライトハウス,-,-,8000円,東京メトロ千代田線/町屋駅 歩12分,1DK,築23年,東京都荒川区荒川３,\n6階建\n,賃貸マンション,NaN,NaN
2,17.15万円,東京都渋谷区東３,35.15m2,Starfield スターフィールド,17.15万円,-,4000円,東京メトロ日比谷線/恵比寿駅 歩6分,1DK,築2年,東京都渋谷区東３,4階建\n,賃貸マンション,NaN,NaN
3,15.9万円,東京都文京区白山２,41.19m2,都営三田線 白山駅 11階建 築10年,23.85万円,15.9万円,16000円,都営三田線/白山駅 歩5分,1LDK,築10年,東京都文京区白山２,\n11階建\n,賃貸マンション,NaN,NaN
4,10.55万円,東京都文京区関口３,26.04m2,コンシェリア目白台 ＨＩＬＬＳＩＤＥ ＳＱＵＡＲＥ,-,-,8500円,東京メトロ有楽町線/江戸川橋駅 歩7分,1K,築3年,東京都文京区関口３,9階建\n,賃貸マンション,NaN,NaN

In [19]:
# combine my two datasets
test = pd.concat([df, df_2], axis = 0)

In [23]:
# test out lon and lat stuff - may just have to scrape this part from navi also 
import googlemaps

In [24]:
for i in range(len(df)):
    geocode_ = gmaps.geocode(df.loc[i, 'address'])
    try:
        lat = geocode_[0]['geometry']['location']['lat']
        lng = geocode_[0]['geometry']['location']['lng']
        df_.loc[1,'Lat'] = lat
        df_.loc[1,'Lon'] = lng 
    except:
        lat = None
        lng = None

In [26]:
df.Lat

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
445   NaN
446   NaN
447   NaN
448   NaN
449   NaN
Name: Lat, Length: 450, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent_price         450 non-null    object
 1   address            450 non-null    object
 2   sqr_m              450 non-null    object
 3   name_place         450 non-null    object
 4   rei_price          450 non-null    object
 5   shikikin           450 non-null    object
 6   maintenence_price  450 non-null    object
 7   nearest_eki        450 non-null    object
 8   apartment_type     450 non-null    object
 9   year_built         450 non-null    object
 10  ku_name            450 non-null    object
 11  floor              450 non-null    object
 12  house_type         450 non-null    object
 13  Lat                0 non-null      float64
 14  Lon                0 non-null      float64
dtypes: float64(2), object(13)
memory usage: 52.9+ KB

In [8]:
# fix ku name 
df.ku_name = df.ku_name.str.split('大阪府').str[1]
df.ku_name = df.ku_name.str.split('区').str[0]

AttributeError: Can only use .str accessor with string values!

In [18]:
df.ku_name.unique()

array(['中野', '目黒', '文京', '新宿', '荒川', '墨田', '中央', '台東', '江東', '品川', '杉並',
       '港', '大田'], dtype=object)

In [10]:
# eki in minutes 
df.nearest_eki.str.split('歩').str[1]

0       5分
1       8分
2      12分
3       6分
4       8分
      ...
445     6分
446     2分
447     5分
448     5分
449     6分
Name: nearest_eki, Length: 450, dtype: object

In [4]:
len(df)

50

In [5]:
50*50

2500

In [ ]:
#https://stackabuse.com/python-check-if-string-contains-substring/

In [34]:
# clean money parts - I need to just put it as whole yen value 
# if there is a . with a number after it in the string then only add 000, otherwise add 0000
if "." in df.rent_price:
    df.rent_price = df.rent_price.str.replace('万円', '000')
elif ".##" in df.rent_price:
    df.rent_price = df.rent_price.str.replace('万円', '00')
    
else:
    df.rent_price = df.rent_price.str.replace('万円', '000')
df.rent_price = df.rent_price.str.replace('.', '')

In [36]:
df.rent_price = df.rent_price.str.replace('.', '')

In [39]:
df.rent_price

0         13万円
1         17万円
2         11万円
3        8.7万円
4        7.9万円
        ...
445    12.55万円
446     11.5万円
447     10.4万円
448     10.5万円
449      8.7万円
Name: rent_price, Length: 450, dtype: object

In [ ]:
# need to clean first row, nearest_eki, year_built, and ku-name.

In [13]:
len(df.ku_name)

50

In [52]:
# fix year_built 
df.year_built.str.replace('\n', '')

0           10階建
1            2階建
2            8階建
3            9階建
4            3階建
         ...
445         15階建
446    地下4地上35階建
447          4階建
448          6階建
449         14階建
Name: year_built, Length: 450, dtype: object

In [61]:
df.year_built.unique()

array(['\n10階建\n', '\n2階建\n', '8階建\n', '9階建\n', '\n3階建\n', '\n9階建\n',
       '\n5階建\n', '\n6階建\n', '階建\n', '14階建\n', '3階建\n', '17階建\n', '4階建\n',
       '\n4階建\n', '下1地上3階建\n', '\n地下1地上12階建\n', '\n14階建\n', '\n7階建\n',
       '\n地下1地上17階建\n', '0階建\n', '11階建\n', '13階建\n', '\n8階建\n',
       '\n11階建\n', '2階建\n', '地下1地上14階建\n', '15階建\n', '\n地下4地上35階建\n',
       '\n地下1地上7階建\n', '下1地上14階建\n'], dtype=object)

In [35]:
df.ku_name = df.ku_name.str.split('(').str[0]
df.ku_name = df.ku_name.str[1:]

In [36]:
df.ku_name.head()

0     千代田区
1     千代田区
2     千代田区
3     千代田区
4     千代田区
Name: ku_name, dtype: object

In [26]:
df.ku_name.unique()

array(['\xa0千代田区'], dtype=object)

In [37]:
df.nearest_eki = df.nearest_eki.str.split('">').str[1]
df.nearest_eki = df.nearest_eki.str.split('</').str[0]

In [56]:
# drop m2
#df.sqr_m = df.sqr_m.str.split('m2').str[0]
df.sqr_m = df.sqr_m.astype(float)

In [50]:
# drop yen symbol and add proper digits to rent price etc. 
#get rid of decimal 
#df.rent_price.str.
df.rent_price.str.replace('万円', '')

0        9.3
1         17
2        8.6
3        8.5
4        7.8
       ...
445      8.9
446     14.7
447     13.3
448       13
449    10.79
Name: rent_price, Length: 450, dtype: object

In [ ]:
# convert rent_price to proper decimal sign 
# man = 10,000. 9.3== 93,000.

In [27]:
df.head()

,rent_price,address,sqr_m,name_place,rei_price,maintenence_price,nearest_eki,apartment_type,year_built,ku_name,floor,house_type
0,9.3万円,東京都荒川区町屋３,30.89m2,東京都荒川区町屋３,4.65万円,6000円,東京メトロ千代田線/町屋駅 歩6分,2K,\n10階建\n,千代田区,築20年,賃貸マンション
1,17万円,東京都中野区新井１,46.7m2,東京都中野区新井１,17万円,3000円,ＪＲ中央線/中野駅 歩7分,2K,\n2階建\n,千代田区,築13年,賃貸アパート
2,8.6万円,東京都江東区大島８,25.51m2,東京都江東区大島８,12.9万円,9000円,都営新宿線/大島駅 歩5分,2K,8階建\n,千代田区,築3年,賃貸マンション
3,8.5万円,東京都荒川区東日暮里６,25.46m2,東京都荒川区東日暮里６,8.5万円,7000円,ＪＲ山手線/日暮里駅 歩5分,1DK,9階建\n,千代田区,築7年,賃貸マンション
4,7.8万円,東京都荒川区東尾久５,26.73m2,東京都荒川区東尾久５,-,-,ＪＲ山手線/田端駅 歩14分,2K,\n3階建\n,千代田区,築43年,賃貸マンション

array(['2K', '1DK', '1K', '1LDK', '2DK'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent_price         50 non-null     object
 1   address            50 non-null     object
 2   sqr_m              50 non-null     object
 3   name_place         50 non-null     object
 4   rei_price          50 non-null     object
 5   shikikin           0 non-null      float64
 6   maintenence_price  50 non-null     object
 7   nearest_eki        50 non-null     object
 8   apartment_type     50 non-null     object
 9   year_built         50 non-null     object
 10  ku_name            50 non-null     object
 11  floor              50 non-null     object
 12  house_type         50 non-null     object
dtypes: float64(1), object(12)
memory usage: 5.2+ KB

In [58]:
# convert different values into their respective types 
df.apartment_type = df.apartment_type.astype(str)

In [60]:
df.apartment_type.unique()

array(['2K', '1DK', '1K', '1LDK', '2DK'], dtype=object)